# Table of Contents

-  [About the dataset](#about)<br>
-  [Load the data](#load_data)<br>

# Imports

In [46]:
# for package auto reload
%load_ext autoreload
%autoreload 2

# for better rendering of plots in jupyter notebook
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [47]:
# base modules
import os
import sys
import copy
import logging
from collections import OrderedDict

# for manipulating data
import numpy as np
import pandas as pd
import math
import dill

# for Machine Learning
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, BaggingRegressor
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier, plot_tree
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score, KFold, GridSearchCV
from sklearn.calibration import CalibratedClassifierCV
from sklearn.inspection import permutation_importance
from scipy.cluster import hierarchy

# for visualization
from IPython.display import display
from matplotlib import pyplot as plt
import graphviz
import streamlit as st
# plotly
# seaborn
# altair


# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

In [48]:
# path to repo
path_to_repo = os.getcwd()
path_to_repo

'/Users/nicolas/Desktop/Etudes/3_emlyon/2021:2022/Machine_Learning/project'

# Introduction: Crops Yield Project

### Project Ideas

Several ideas might pop up looking at this dataset, for example:

**Exploratory Data Analysis**
- Vizualisation of certain crops yields' temporal evolution per country
- Correlation between production & population

**Machine Learning**
- C02 emissions of crops using regression
- Clustering on CO2 crop emissioners
- Crop yields forecasting through time-series analysis using production & pop correlation

# Datasets Overview

## 1. Agricultural Crop Production

### Summary

Crop statistics for 173 products in Africa, America, Asia, Europe and Oceania, collected from 1961 to 2019.

### Description

Data from the Food and Agriculture Organization of the United Nations (FAO)

Achieving food security for all is at the heart of FAO's efforts - ensuring that people have regular access to enough quality food to lead active and healthy lives. Our three main objectives are: the eradication of hunger, food insecurity and malnutrition; the eradication of poverty and the promotion of economic and social progress for all; and the sustainable management and use of natural resources, including land, water, air, climate and genetic resources, for the benefit of present and future generations.

Primary crops, fibre crops. Crop statistics are recorded for 173 commodities, covering the following categories: Primary crops, Primary fibre crops, Cereals, Secondary cereals, Citrus, Fruit, Jute and related fibres, Oilcake equivalent, Primary oilseeds, Dry vegetables, Roots and tubers, Green fruits and vegetables and Melons. Data are expressed in terms of area harvested, quantity produced, yield and quantity of seed. The aim is to provide comprehensive coverage of production of all primary crops for all countries and regions of the world.

Source : Organisation des Nations Unies pour l'alimentation et l'agriculture (FAO)

## 2. Gas emissions Statistics

### Summary

The FAOSTAT domain Emissions Totals disseminates information estimates of CH4, N2O and CO2 emissions/removals and their aggregates in CO2eq in units of kilotonnes (kt, or 106 kg).

### Description

The FAOSTAT domain Emissions Totals summarizes the greenhouse gas (GHG) emissions disseminated in the FAOSTAT Climate Change Emissions domains, generated from agriculture and forest land. They consist of methane (CH4), nitrous oxide (N2O) and carbon dioxide (CO2) emissions from crop and livestock activities, forest management and include land use and land use change processes. Data are computed at Tier 1 of the IPCC Guidelines for National greenhouse gas (GHG) Inventories (IPCC, 1996; 1997; 2000; 2002; 2006; 2014). Estimates are available by country, with global coverage for the period 1961–2019 with projections for 2030 and 2050 for some categories of emissions or 1990–2019 for others. The database is updated annually.

## 3. Population per country

The FAOSTAT Population module contains time series data on population, by sex and urban/rural. The series consist of both estimates and projections for different periods as available from the original sources, namely:
1. Population data refers to the World Population Prospects: The 2019 Revision from the UN Population Division.
2. Urban/rural population data refers to the World Urbanization Prospects: The 2018 Revision from the UN Population Division.

# Data Preprocessing

## 1. Preprocess the *Agricultural Crop data*

### Get a glimpse of one of the main datasets

In [51]:
# Loading Africa's dataset

url = 'https://raw.githubusercontent.com/nicoboou/ml_eml/main/data/agriculture-crop-production/Production_Crops_E_Africa.csv'
crops_africa = pd.read_csv(url, sep=',',encoding='latin-1')
crops_africa.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,F,13300.0,...,40403.0,NaN,49983.0,NaN,50100.0,NaN,43043.0,NaN,35380.0,NaN
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,Fc,4511.0,...,18930.0,Fc,13223.0,Fc,12362.0,Fc,13292.0,Fc,20467.0,Fc
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,NaN,6000.0,...,76482.0,NaN,66095.0,NaN,61934.0,NaN,57213.0,NaN,72412.0,NaN
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,F,3100.0,...,41011.0,NaN,46070.0,NaN,44620.0,NaN,39034.0,NaN,32989.0,NaN
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,Fc,45161.0,...,110086.0,Fc,108716.0,Fc,110766.0,Fc,124970.0,Fc,169399.0,Fc
5,4,Algeria,515,Apples,5510,Production,tonnes,15400.0,NaN,14000.0,...,451472.0,NaN,500855.0,NaN,494239.0,NaN,487808.0,NaN,558830.0,NaN
6,4,Algeria,526,Apricots,5312,Area harvested,ha,4200.0,F,4600.0,...,38857.0,NaN,38239.0,NaN,44307.0,NaN,35500.0,NaN,30861.0,NaN
7,4,Algeria,526,Apricots,5419,Yield,hg/ha,30286.0,Fc,30000.0,...,75530.0,Fc,67149.0,Fc,57980.0,Fc,68237.0,Fc,67789.0,Fc
8,4,Algeria,526,Apricots,5510,Production,tonnes,12720.0,NaN,13800.0,...,293486.0,NaN,256771.0,NaN,256890.0,NaN,242243.0,NaN,209204.0,NaN
9,4,Algeria,366,Artichokes,5312,Area harvested,ha,5000.0,F,5000.0,...,4674.0,NaN,5174.0,NaN,5532.0,NaN,5784.0,NaN,5792.0,NaN

In [52]:
crops_africa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9091 entries, 0 to 9090
Columns: 125 entries, Area Code to Y2019F
dtypes: float64(59), int64(3), object(63)
memory usage: 8.7+ MB

### Load all datasets

In [78]:
def open_all_datasets_df(item):
    df = pd.read_csv('https://raw.githubusercontent.com/nicoboou/ml_eml/main/data/agriculture-crop-production/Production_Crops_E_' + str(item) + '.csv', low_memory = False, encoding='latin1')
    df['continent'] = item
    return df

In [79]:
countries = ['Africa','Americas','Asia','Europe','Oceania']

In [80]:
crops_raw = pd.DataFrame()

for country in countries:
    crops_raw = crops_raw.append(open_all_datasets_df(country))

/var/folders/r7/nptln7p562l2yhwpxw1nxp880000gn/T/ipykernel_57276/1436319694.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  crops_raw = crops_raw.append(open_all_datasets_df(country))
/var/folders/r7/nptln7p562l2yhwpxw1nxp880000gn/T/ipykernel_57276/1436319694.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  crops_raw = crops_raw.append(open_all_datasets_df(country))
/var/folders/r7/nptln7p562l2yhwpxw1nxp880000gn/T/ipykernel_57276/1436319694.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  crops_raw = crops_raw.append(open_all_datasets_df(country))
/var/folders/r7/nptln7p562l2yhwpxw1nxp880000gn/T/ipykernel_57276/1436319694.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  crops_raw = crops_raw.append(open_all_datasets_df(country))
/var/folders/r7/nptln7p562l2yhwpxw1nxp880000gn/T/ipykernel_57276/1436319694.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  crops_raw = crops_raw.append(open_all_datasets_df(country))

In [81]:
crops_raw

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,continent
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,F,13300.0,...,NaN,49983.0,NaN,50100.0,NaN,43043.0,NaN,35380.0,NaN,Africa
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,Fc,4511.0,...,Fc,13223.0,Fc,12362.0,Fc,13292.0,Fc,20467.0,Fc,Africa
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,NaN,6000.0,...,NaN,66095.0,NaN,61934.0,NaN,57213.0,NaN,72412.0,NaN,Africa
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,F,3100.0,...,NaN,46070.0,NaN,44620.0,NaN,39034.0,NaN,32989.0,NaN,Africa
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,Fc,45161.0,...,Fc,108716.0,Fc,110766.0,Fc,124970.0,Fc,169399.0,Fc,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,155,Vanuatu,1720,"Roots and Tubers, Total",5419,Yield,hg/ha,225455.0,Fc,227273.0,...,Fc,82306.0,Fc,82341.0,Fc,82374.0,Fc,82407.0,Fc,Oceania
1650,155,Vanuatu,1720,"Roots and Tubers, Total",5510,Production,tonnes,24800.0,A,25000.0,...,A,52314.0,A,52838.0,A,53362.0,A,53886.0,A,Oceania
1651,155,Vanuatu,1735,Vegetables Primary,5312,Area harvested,ha,200.0,A,210.0,...,A,804.0,A,810.0,A,817.0,A,824.0,A,Oceania
1652,155,Vanuatu,1735,Vegetables Primary,5419,Yield,hg/ha,150000.0,Fc,150000.0,...,Fc,165547.0,Fc,166358.0,Fc,166952.0,Fc,167524.0,Fc,Oceania
1653,155,Vanuatu,1735,Vegetables Primary,5510,Production,tonnes,3000.0,A,3150.0,...,A,13310.0,A,13475.0,A,13640.0,A,13804.0,A,Oceania

It appears that columns representing the data per year come with an indicator "F", let's dig into it !

In [82]:
flags_df = pd.read_csv("https://raw.githubusercontent.com/nicoboou/ml_eml/main/data/agriculture-crop-production/flags.csv", encoding="latin1")
flags_df

   ï»¿"Flag"                                              Flags
0        NaN                                      Official data
1          *                                  Unofficial figure
2          A  Aggregate, may include official, semi-official...
3         Bk                                    Break in series
4          C                                         Calculated
5         Ce            Calculated data based on estimated data
6         Cv                           Calculated through value
7          E  Expert sources from FAO (including other divis...
8          F                                       FAO estimate
9         Fb                         Data obtained as a balance
10        Fc                                    Calculated data
11        Fd               estimates - discontinued time series
12        Fk   Calculated data on the basis of official figures
13        Fm                                  Manual Estimation
14         I  Country data reported by International Organiz...
15        Im           FAO data based on imputation methodology
16         M                                 Data not available
17       NaN                                     Not applicable
18        NR                                       Not reported
19        NV                                 Data not available
20        Od           Official data - discontinued time series
21         P                          Provisional official data
22         Q  Official data reported on FAO Questionnaires f...
23        Qm  Official data from questionnaires and/or natio...
24         R     Estimated data using trading partners database
25         S                                  Standardized data
26        SD                            Statistical Discrepancy
27         W  Data reported on country official publications...
28         X                     International reliable sources
29         Z  When the Fertilizer Utilization Account (FUA) ...

Each year column comes with another column, stating the source of the figures for this year (whether the figure was calculated with official data, estimated, etc).
It is good info to know, but let's put these data pieces aside and keep a smaller df:

In [87]:
crops_all = copy.deepcopy(crops_raw)
crops_all = crops_all.loc[:, ~crops_all.columns.str.endswith('F')]
crops_all = crops_all[crops_all.columns[~crops_all.columns.str.endswith('F')]]
crops_all

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,continent
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,13300.0,13300.0,...,52245.0,49975.0,49011.0,39050.0,40403.0,49983.0,50100.0,43043.0,35380.0,Africa
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,4511.0,4511.0,...,9689.0,13304.0,12965.0,16601.0,18930.0,13223.0,12362.0,13292.0,20467.0,Africa
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,6000.0,6000.0,...,50621.0,66487.0,63545.0,64827.0,76482.0,66095.0,61934.0,57213.0,72412.0,Africa
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,3100.0,2800.0,...,51080.0,48828.0,48064.0,40418.0,41011.0,46070.0,44620.0,39034.0,32989.0,Africa
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,45161.0,46429.0,...,79112.0,81414.0,94860.0,114507.0,110086.0,108716.0,110766.0,124970.0,169399.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,155,Vanuatu,1720,"Roots and Tubers, Total",5419,Yield,hg/ha,225455.0,227273.0,229091.0,...,80645.0,82258.0,82540.0,82518.0,82467.0,82306.0,82341.0,82374.0,82407.0,Oceania
1650,155,Vanuatu,1720,"Roots and Tubers, Total",5510,Production,tonnes,24800.0,25000.0,25200.0,...,50000.0,51000.0,52000.0,52374.0,52251.0,52314.0,52838.0,53362.0,53886.0,Oceania
1651,155,Vanuatu,1735,Vegetables Primary,5312,Area harvested,ha,200.0,210.0,220.0,...,762.0,750.0,779.0,791.0,801.0,804.0,810.0,817.0,824.0,Oceania
1652,155,Vanuatu,1735,Vegetables Primary,5419,Yield,hg/ha,150000.0,150000.0,150000.0,...,161444.0,166667.0,163248.0,163540.0,164819.0,165547.0,166358.0,166952.0,167524.0,Oceania
1653,155,Vanuatu,1735,Vegetables Primary,5510,Production,tonnes,3000.0,3150.0,3300.0,...,12302.0,12500.0,12717.0,12936.0,13202.0,13310.0,13475.0,13640.0,13804.0,Oceania

In [89]:
crops_all["Element"].unique()

array(['Area harvested', 'Yield', 'Production'], dtype=object)

It appears that we have data on 3 main elements thanks to this dataset:
- Area harvested: 
- Yield:
- Production:

In [90]:
crops_all.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Area Code,38146.0,NaN,NaN,NaN,130.297069,75.053504,1.0,63.0,126.0,196.0,299.0
Area,38146,210,"China, mainland",398,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Code,38146.0,NaN,NaN,NaN,614.361663,547.910943,15.0,236.0,446.0,656.0,1841.0
Item,38146,175,"Roots and Tubers, Total",618,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Element Code,38146.0,NaN,NaN,NaN,5414.258349,82.044592,5312.0,5312.0,5419.0,5510.0,5510.0
Element,38146,3,Production,13224,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unit,38146,3,tonnes,13224,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Y1961,22639.0,NaN,NaN,NaN,371148.078625,3506653.258574,0.0,3100.0,15417.0,82733.5,176340000.0
Y1962,22658.0,NaN,NaN,NaN,378709.214891,3529416.335406,0.0,3200.0,15970.0,83803.0,164593333.0
Y1963,22656.0,NaN,NaN,NaN,383382.502913,3429900.956439,0.0,3300.0,16235.0,86986.5,174812487.0
Y1964,22683.0,NaN,NaN,NaN,397612.310673,3590923.989091,0.0,3400.0,16909.0,88836.0,160937079.0
Y1965,22683.0,NaN,NaN,NaN,400489.463872,3672706.51993,0.0,3500.0,17000.0,90000.0,183602617.0
Y1966,22780.0,NaN,NaN,NaN,411780.177085,3861196.988942,0.0,3492.5,17262.5,90909.0,184444880.0
Y1967,22815.0,NaN,NaN,NaN,420219.817532,3891567.107743,0.0,3563.5,17818.0,93000.0,208158055.0
Y1968,22878.0,NaN,NaN,NaN,423328.67519,3922515.146896,0.0,3556.0,17722.0,94173.5,202538423.0
Y1969,22911.0,NaN,NaN,NaN,423258.597835,3925401.390897,0.0,3576.0,17880.0,94155.0,205288170.0
Y1970,22997.0,NaN,NaN,NaN,437253.33487,4163316.364887,0.0,3571.0,18182.0,94684.0,197635008.0
Y1971,23070.0,NaN,NaN,NaN,443135.797746,4262048.262461,0.0,3640.0,18611.0,96501.5,237624461.0
Y1972,23099.0,NaN,NaN,NaN,436350.700377,4116934.473568,0.0,3600.0,18651.0,96205.0,228117866.0
Y1973,23098.0,NaN,NaN,NaN,465476.676033,4598977.118709,0.0,3549.25,19032.0,98000.0,237683006.0
Y1974,23157.0,NaN,NaN,NaN,462317.907328,4385413.861607,0.0,3781.0,19595.0,100000.0,231390016.0
Y1975,23292.0,NaN,NaN,NaN,469537.545466,4546398.453973,0.0,3799.25,19837.5,100000.0,249283743.0
Y1976,23353.0,NaN,NaN,NaN,483888.957479,4790402.641342,0.0,3800.0,20000.0,100000.0,258200097.0
Y1977,23511.0,NaN,NaN,NaN,495551.393433,4979583.372533,0.0,3799.0,20000.0,100000.0,266014469.0
Y1978,23548.0,NaN,NaN,NaN,515980.761296,5322800.279763,0.0,3861.0,20043.0,101553.75,276602542.0
Y1979,23713.0,NaN,NaN,NaN,510585.813225,5261294.160428,0.0,3711.0,20000.0,101600.0,302625580.0
Y1980,23929.0,NaN,NaN,NaN,503680.418572,5126443.730511,0.0,3800.0,20434.0,101266.0,277190199.0
Y1981,24019.0,NaN,NaN,NaN,516863.242766,5236553.356958,0.0,3800.0,20833.0,103677.5,330889528.0
Y1982,24094.0,NaN,NaN,NaN,537160.944551,5602682.252013,0.0,3800.0,21000.0,105000.0,333103755.0
Y1983,24151.0,NaN,NaN,NaN,526129.580473,5431966.396947,0.0,3771.5,21000.0,104474.0,342270058.0
Y1984,24213.0,NaN,NaN,NaN,552437.807913,5827149.318722,0.0,3962.0,21566.0,106940.0,362820018.0
Y1985,25680.0,NaN,NaN,NaN,520945.586098,5666647.280951,0.0,3800.0,21112.0,100000.0,347118216.0
Y1986,25844.0,NaN,NaN,NaN,521843.47067,5607183.894583,0.0,3792.25,21420.0,101200.0,349163856.0
Y1987,25962.0,NaN,NaN,NaN,522057.59225,5654455.734246,0.0,3800.0,21336.5,102400.0,356365875.0
Y1988,26113.0,NaN,NaN,NaN,519346.935473,5425895.947384,0.0,3774.0,21755.0,102400.0,348996930.0
Y1989,26264.0,NaN,NaN,NaN,539146.175373,5796826.564095,0.0,3783.75,22000.0,103266.75,364819680.0
Y1990,27470.0,NaN,NaN,NaN,526509.987696,5980609.115986,0.0,3100.0,20000.0,99212.75,401934965.0
Y1991,27694.0,NaN,NaN,NaN,521680.910992,5816742.932097,0.0,3037.25,20061.0,99448.75,396095011.0
Y1992,30712.0,NaN,NaN,NaN,486183.617609,5754555.69129,0.0,2987.75,19296.5,96258.5,401702616.0
Y1993,30939.0,NaN,NaN,NaN,477651.996089,5360780.442871,0.0,3023.5,19600.0,96587.5,405173951.0
Y1994,31221.0,NaN,NaN,NaN,484129.013549,5753642.003267,0.0,3000.0,19271.0,96084.0,393891055.0
Y1995,31398.0,NaN,NaN,NaN,490356.933786,5793270.270742,0.0,3043.25,19299.0,97299.25,416113700.0
Y1996,31480.0,NaN,NaN,NaN,510553.852605,6198933.372076,0.0,3100.0,19920.0,99341.25,451045054.0
Y1997,31654.0,NaN,NaN,NaN,516371.595817,6244190.120579,0.0,3075.75,19822.0,99873.25,443493425.0
Y1998,31791.0,NaN,NaN,NaN,518379.385581,6394438.924932,0.0,3074.0,19833.0,100000.0,456246878.0
Y1999,32016.0,NaN,NaN,NaN,525732.740973,6446366.02993,0.0,3071.75,20000.0,101139.0,453040320.0
Y2000,32352.0,NaN,NaN,NaN,523979.34715,6360732.781432,0.0,3000.0,19845.0,100401.25,405224140.0
Y2001,32431.0,NaN,NaN,NaN,527932.380161,6388873.427012,0.0,3000.0,19864.0,102088.5,396483872.0
Y2002,32485.0,NaN,NaN,NaN,533128.701154,6410051.616227,0.0,3000.0,20000.0,102634.0,396676773.0
Y2003,32762.0,NaN,NaN,NaN,539883.266925,6599792.668501,0.0,2900.0,19878.5,103374.5,396012158.0
Y2004,32938.0,NaN,NaN,NaN,561227.574716,6817596.90149,0.0,2900.0,20352.0,105829.0,415205835.0
Y2005,32996.0,NaN,NaN,NaN,565112.575009,6876496.141411,0.0,2970.0,20456.0,107711.5,427760100.0
Y2006,33179.0,NaN,NaN,NaN,572275.258025,7198656.669737,0.0,2943.5,20406.0,107701.0,477410656.0
Y2007,32727.0,NaN,NaN,NaN,599752.399212,8029326.919516,0.0,2983.0,20700.0,109764.5,549707314.0
Y2008,32746.0,NaN,NaN,NaN,627139.33653,8577737.710007,0.0,2985.0,21076.0,110347.25,645300182.0
Y2009,32771.0,NaN,NaN,NaN,624630.189009,8676993.399436,0.0,3000.0,21250.0,113304.5,691606147.0
Y2010,32836.0,NaN,NaN,NaN,635024.217901,8913732.010792,0.0,3000.0,21292.5,114104.0,717463793.0
Y2011,32848.0,NaN,NaN,NaN,666084.052606,9282982.367468,0.0,3030.5,22000.0,116930.75,734006059.0
Y2012,32933.0,NaN,NaN,NaN,668373.405854,9275438.048677,0.0,3000.0,21889.0,118033.0,721077287.0
Y2013,32933.0,NaN,NaN,NaN,697345.473112,9766213.846341,0.0,3065.0,22362.0,119883.0,768090444.0
Y2014,32987.0,NaN,NaN,NaN,709585.339982,9729805.056516,0.0,3140.0,22728.0,120719.0,736108487.0
Y2015,33010.0,NaN,NaN,NaN,711842.130233,9973667.916526,0.0,3200.0,23082.5,122509.25,750290277.0
Y2016,33042.0,NaN,NaN,NaN,722969.65786,10249828.135251,0.0,3191.25,22985.0,123213.75,768594154.0
Y2017,33100.0,NaN,NaN,NaN,738894.115952,10171664.733574,0.0,3191.0,22932.0,124309.25,758646205.0
Y2018,33392.0,NaN,NaN,NaN,734436.155127,10245919.307647,0.0,2476.25,21138.0,121818.75,747060316.0
Y2019,33437.0,NaN,NaN,NaN,742458.525197,10346386.885358,0.0,2470.0,21430.0,121779.0,752895389.0
continent,38146,5,Europe,10557,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. Preprocess the *Gas Emissions data*

In [93]:
# Loading Gas Emissions' dataset

url = 'https://raw.githubusercontent.com/nicoboou/ml_eml/main/data/emissions/emissions_full.csv'
emissions_df = pd.read_csv(url, sep=',',encoding='latin-1',low_memory=False)
emissions_df.head(10)

,Code zone,Zone,Code Produit,Produit,Code Élément,Élément,Code source,Source,Unité,Y1961,...,Y2019N,Y2020,Y2020F,Y2020N,Y2030,Y2030F,Y2030N,Y2050,Y2050F,Y2050N
0,2,Afghanistan,5058,Fermentation entérique,7225,Émissions (CH4),3050,FAO TIER 1,kilotonnes,240.6831,...,NaN,NaN,NaN,NaN,453.7474,Fc,NaN,603.6185,Fc,NaN
1,2,Afghanistan,5058,Fermentation entérique,7225,Émissions (CH4),3051,UNFCCC,kilotonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afghanistan,5058,Fermentation entérique,724413,Émissions (CO2eq) venant de CH4 (AR5),3050,FAO TIER 1,kilotonnes,6739.1279,...,NaN,NaN,NaN,NaN,12704.9283,Fc,NaN,16901.3173,Fc,NaN
3,2,Afghanistan,5058,Fermentation entérique,724413,Émissions (CO2eq) venant de CH4 (AR5),3051,UNFCCC,kilotonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Afghanistan,5058,Fermentation entérique,723113,Émissions (CO2eq) (AR5),3050,FAO TIER 1,kilotonnes,6739.1279,...,NaN,NaN,NaN,NaN,12704.9283,Fc,NaN,16901.3173,Fc,NaN
5,2,Afghanistan,5058,Fermentation entérique,723113,Émissions (CO2eq) (AR5),3051,UNFCCC,kilotonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2,Afghanistan,5059,Gestion du fumier,7225,Émissions (CH4),3050,FAO TIER 1,kilotonnes,11.6228,...,NaN,NaN,NaN,NaN,27.2114,Fc,NaN,35.2700,Fc,NaN
7,2,Afghanistan,5059,Gestion du fumier,7225,Émissions (CH4),3051,UNFCCC,kilotonnes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,Afghanistan,5059,Gestion du fumier,7230,Émissions (N2O),3050,FAO TIER 1,kilotonnes,0.3992,...,NaN,NaN,NaN,NaN,0.5770,Fc,NaN,0.8470,Fc,NaN
9,2,Afghanistan,5059,Gestion du fumier,724413,Émissions (CO2eq) venant de CH4 (AR5),3050,FAO TIER 1,kilotonnes,325.4372,...,NaN,NaN,NaN,NaN,761.9188,Fc,NaN,987.5598,Fc,NaN

# Exploratory Data Analysis

### Vizualisation

# Machine Learning

## Supervised Learning

### Regression

### Classification

## Unsupervised Learning

### Clustering

## Time-series Analysis